extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header 
    .col-lg-12
      h1= pageHeader.title
      span.badge.pull-left.badge-default= book.type
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(book.rating)
          .panel.panel-primary
            .panel-heading
              h2.panel-title Author
            .panel-body
              h3= book.author
              p= book.author_info
          .panel.panel-primary
            .panel-heading
              h2.panel-title Literary Elements
            .panel-body
              each literary_element in book.literary_elements
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{literary_element}
                | &nbsp;
        .col-xs-12.col-sm-6.book-preview
          h1
          </br>
          .panel.panel-primary
            .panel-heading
              h2.panel-title Book Preview
            .panel-body
              .img 
                img(src='/images/the silent patient.jpg', alt='The Silent Patient')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href="/book/review/new3") Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              each review in book.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor #{review.author}
                      small.reviewTimestamp #{review.timestamp}
                    .col-xs-12
                      p !{(review.reviewText).replace(/\n/g, '<br/>')}
      .row
        .col-xs-12
          .panel.panel-primary.overview-panel
            .panel-heading
              h2.panel-title Overview
            .panel-body.overview-container
              .row
                .review
                  .col-xs-12
                    h3= book.overview
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title Review
            .panel-body.review-container
              .row
                .review
                  .col-xs-12
                    p= book.book_review
    .col-xs-12.col-md-3
      p.lead #{book.name} #{sidebar.context}
      p= sidebar.callToAction